extends modules/_layout

block meta
  - var title= "title";
  - var description= "dscription";
  - var keywords= "keyword";

block style
  link(rel="stylesheet" href="css/style.css")

block content
  .container
    .innner

block script
  script(src="javascripts/index.js")

block footer
  .footer-wrapper
    .footer-inner